$white:#FFFFFF;
$dark_black:#000000;
$light_black:#161616;
$gray_1:#00000008;
$gray_2:#0000000D;
$gray_3:#F2F2F2;
$gray_4:#DCDCDC;
$gray_5:#B5B5B5;
$gray_6:#A2A2A2;
$gray_7:#8E8E8E;
$pinkred:#ED174C;
$yellow:#FDB913;
$dark_blue:#0066CC;
$light_blue:#09BCEF;
$green:#85C446;